
login!
<form method="post" action="/users/login">
<input type="email" name="email" placeholder="Email" required>

<input type="password" name="password" placeholder="Password" required>
<button value="submit" type="submit">Submit</button>


</form>
